// Fonts
@import url(http://fonts.googleapis.com/css?family=Capriola|Audiowide|Aldrich);
$font-primary :'Audiowide',"Times New Roman",Times,serif;
$font-secondary :'Aldrich',Verdana,sans-serif;
$font-tertiary:"Courier New",sans-serif;

