/*
Colors shema
*/

//Brand colors

$primary-color:#432F44;
$primary-color-dark:#371638;
$primary-color-light:#8A688C;
//----------------------------
$secondary-color:#a7425c;
$secondary-color-dark:#401923;
$secondary-color-light:#ea5455;
//----------------------------
$accent-color:#ffd460;

//Base colors
$color-white : #fff ;
$color-black : #4c4c4c;
$color-gray :  #808080;
$color-gray-light :  #9e9e9e;
$color-shadow : #403a3e ;

// Navbar
$dropdown :true;

//Input border radius
$radius:0px;

$background :  #fff ;


